:root{
    --drk-clr: #D76C82;
    --med-color: #F0A8D0;
    --lgt-color: #F7B5CA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Kanit";
}

body{
    min-height: 100vh;
}


a{
    text-decoration: none;
    color: black;
}

.top_navbar{
    width: 100%;
    height: 60px;
}

@media(min-width: 475px){
    .top_navbar{
        max-width: 475px;
    }
}

@media(min-width: 640px){
     .wrapper{
        margin: 10px;
    }
    
    .wrapper .top_navbar{
        max-width: 640px;
        height: 60px;
        display: flex;
        position: fixed;
        top: 10px;
    }
    
    .wrapper .top_navbar .hamburger{
        width: 70px;
        height: 100%;
        background-color: var(--drk-clr);
        padding: 15px 17px;
        border-top-left-radius: 20px;
        cursor: pointer;
    }
    
    .wrapper .top_navbar .hamburger div{
        width: 35px;
        height: 4px;
        background-color: var(--lgt-color);
        margin: 5px 0;
        border-radius: 5px;
    }
    
    .wrapper .top_navbar .top_menu{
        background-color: var(--lgt-color);
        width: calc(100% - 70px);
        height: 100%;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .wrapper .top_navbar .top_menu .logo{
        color: gray;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    
    .wrapper .top_navbar .top_menu ul{
        display: none;
    }
    
    .wrapper .top_navbar .top_menu li{
        display: block;
        margin: 0 10px;
    } 

    .wrapper .sidebar{
        position: fixed;
        top: 70px;
        left: 10px;
        background-color: var(--drk-clr);
        height: calc(100% - 80px);
        width: 200px;
        border-bottom-left-radius: 20px;
        transition: all 0.3s ease;
    }

    .wrapper .sidebar ul li a{
        display: block;
        padding: 20px;
        position: relative;
        margin-bottom: 1px;
        opacity: 65%;
    }

    .wrapper .sidebar ul li a::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background: black;
        display: none;
    }

    .wrapper .sidebar ul li a span.icon{
        border: 1px solid red;
        margin-right: 10px;
        display: inline-block;
    }

    .wrapper .sidebar ul li a span.title{
        border: 1px solid blue;
        display: inline-block;
    }

    .wrapper .sidebar ul li a:hover,
    .wrapper .sidebar ul li a.home{
        opacity: 100%;
        background-color: #cf4070;
    }

    .wrapper .sidebar ul li a:hover::before,
    .wrapper .sidebar ul li a.home::before{
        display: block;
    }
    


/* ////////////////////////////////////////////////////////////////////////////// */
}

@media(min-width: 768px){
    .wrapper{
        margin: 10px;
    }
    
    .wrapper .top_navbar{
        border: 1px solid black;
        max-width: 1546px;
        height: 60px;
        display: flex;
        position: sticky;
        top: 10px;
    }
    
    .wrapper .top_navbar .hamburger{
        width: 70px;
        height: 100%;
        background-color: var(--drk-clr);
        padding: 15px 17px;
        border-top-left-radius: 20px;
        cursor: pointer;
        display: none;
    }
    
    .wrapper .top_navbar .hamburger div{
        width: 35px;
        height: 4px;
        background-color: var(--lgt-color);
        margin: 5px 0;
        border-radius: 5px;
    }
    
    .wrapper .top_navbar .top_menu{
        background-color: var(--lgt-color);
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .wrapper .top_navbar .top_menu .logo{
        color: black;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    
    .wrapper .top_navbar .top_menu ul{
        display: flex;
    }
    
    .wrapper .top_navbar .top_menu li{
        display: block;
        margin: 0 10px;
    } 

    .sidebar{
        display: none;
    }
}

@media(min-width: 1024px){
    .wrapper{
        margin: 10px;
    }
    
    .wrapper .top_navbar{
        border: 1px solid black;
        max-width: 1546px;
        height: 60px;
        display: flex;
        position: sticky;
        top: 10px;
    }
    
    .wrapper .top_navbar .hamburger{
        width: 70px;
        height: 100%;
        background-color: var(--drk-clr);
        padding: 15px 17px;
        border-top-left-radius: 20px;
        cursor: pointer;
        display: none;
    }
    
    .wrapper .top_navbar .hamburger div{
        width: 35px;
        height: 4px;
        background-color: var(--lgt-color);
        margin: 5px 0;
        border-radius: 5px;
    }
    
    .wrapper .top_navbar .top_menu{
        background-color: var(--lgt-color);
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .wrapper .top_navbar .top_menu .logo{
        color: black;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    
    .wrapper .top_navbar .top_menu ul{
        display: flex;
    }
    
    .wrapper .top_navbar .top_menu li{
        display: block;
        margin: 0 10px;
    } 

    .sidebar{
        display: none;
    }
}

@media(min-width: 1280px){
    .wrapper{
        margin: 10px;
    }
    
    .wrapper .top_navbar{
        border: 1px solid black;
        max-width: 1546px;
        height: 60px;
        display: flex;
        position: sticky;
        top: 10px;
    }
    
    .wrapper .top_navbar .hamburger{
        width: 70px;
        height: 100%;
        background-color: var(--drk-clr);
        padding: 15px 17px;
        border-top-left-radius: 20px;
        cursor: pointer;
        display: none;
    }
    
    .wrapper .top_navbar .hamburger div{
        width: 35px;
        height: 4px;
        background-color: var(--lgt-color);
        margin: 5px 0;
        border-radius: 5px;
    }
    
    .wrapper .top_navbar .top_menu{
        background-color: var(--lgt-color);
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .wrapper .top_navbar .top_menu .logo{
        color: black;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    
    .wrapper .top_navbar .top_menu ul{
        display: flex;
    }
    
    .wrapper .top_navbar .top_menu li{
        display: block;
        margin: 0 10px;
    } 

    .sidebar{
        display: none;
    }
}

@media(min-width: 1536px){
    .wrapper{
        margin: 10px;
    }
    
    .wrapper .top_navbar{
        border: 1px solid black;
        max-width: 1546px;
        height: 60px;
        display: flex;
        position: sticky;
        top: 10px;
    }
    
    .wrapper .top_navbar .hamburger{
        width: 70px;
        height: 100%;
        background-color: var(--drk-clr);
        padding: 15px 17px;
        border-top-left-radius: 20px;
        cursor: pointer;
        display: none;
    }
    
    .wrapper .top_navbar .hamburger div{
        width: 35px;
        height: 4px;
        background-color: var(--lgt-color);
        margin: 5px 0;
        border-radius: 5px;
    }
    
    .wrapper .top_navbar .top_menu{
        background-color: var(--lgt-color);
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .wrapper .top_navbar .top_menu .logo{
        color: black;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    
    .wrapper .top_navbar .top_menu ul{
        display: flex;
    }
    
    .wrapper .top_navbar .top_menu li{
        display: block;
        margin: 0 10px;
    } 

    .sidebar{
        display: none;
    }
}



